@import 'tailwindcss';

body {
  width: 540px;
  height: 500px;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.cls-3 {
  fill: url(#linear-gradient-1);
}

.cls-4 {
  fill: #fc9502;
}

.cls-5 {
  fill: #fce202;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
